@using AppsInterface.Components.Models.Enum.Ticket
@using AppsInterface.Database
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer
@inject AppDbContext Db
@inject NavigationManager nav
@if(selectedApp != null)
{
    <div class="card shadow-lg border-0 rounded-4 overflow-hidden">
        <div class="card-header bg-primary text-white p-4">
            <div class="d-flex justify-content-between align-items-start flex-wrap gap-3">
                <div>
                    <h2 class="fw-bold mb-3 d-inline">@selectedApp.Name</h2>
                    <strong class="d-inline ms-2">@selectedApp.Version</strong>
                    <p class="opacity-50 d-inline ms-2">@selectedApp.Id</p>
                    <p class="mb-0 mt-2 opacity-75" style="max-width: 1000px;">
                        @selectedApp.Description
                    </p>
                </div>

                <span class="badge bg-light text-primary fs-6 px-3 py-2">
                    @selectedApp.Type
                </span>
            </div>
        </div>

        <div class="card-body p-4">

            <div class="row g-5">

                <div class="col-lg-8">
                    <div class="card border-0 bg-light rounded-4 h-100">
                        <div class="card-body">
                            <h4 class="fw-semibold mb-3">Downloads</h4>

                            <table class="table table-hover align-middle mb-0" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th>Arquivo</th>
                                        <th>Tamanho</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Path.GetFileName(selectedApp.DownloadPath)</td>
                                        <td>@((new FileInfo(selectedApp.DownloadPath).Length / 1024.0 / 1024.0).ToString("F2")) MB</td>
                                        <td class="text-end">
                                            <a href="@selectedApp.DownloadPath.Replace(@"wwwroot\", "")" download="" class="btn btn-primary btn-sm">
                                                Baixar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card border-0 bg-light rounded-4">
                        <div class="card-body">
                            <h4 class="fw-semibold mb-3">Documentação</h4>

                            <div class="d-grid gap-2">
                                <a href="@AppId/Manual" class="btn btn-outline-primary">
                                    Modo de Uso
                                </a>
                                <a href="@AppId/Fluxograma" class="btn btn-outline-secondary">
                                    Fluxograma
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3">
                        <h4 class="fw-semibold mb-3">Tickets Abertos</h4>
                        <button class="btn btn-primary" @onclick='() => nav.NavigateTo($"/tickets/{AppId}/newticket")'>
                            Abrir ticket
                        </button>
                </div>
                <table class="table table-fixed table-striped table-hover mt-1" style="table-layout: fixed;">
                    <thead>
                        <tr>
                            <th style="width: 8%;">Índice</th>
                            <th style="width: 70%;">Descrição</th>
                            <th class="text-center" style="width: 20%;">Prioridade</th>
                            <th style="width: 20%;">Status</th>
                        </tr>
                    </thead>
                    <tbody class="cursor-pointer">
                        @for(int i = 0; i < appTickets.Count; i++)
                        {
                            var ticket = appTickets[i];
                            <tr @onclick="() => SelectTicket(ticket.TicketId)" class="@(currentTicket != null && ticket.TicketId == currentTicket.TicketId ? "table-primary" : "")">
                                <td>@(i + 1)</td>
                                <td>@ticket.Title</td>
                                <td class="text-center align-middle">
                                    <span class="@(ticket.Priority == TicketPriority.Alta ? "bg-danger text-white" : ticket.Priority == TicketPriority.Media ? "bg-warning text-dark" : "bg-success text-white") p-1 px-4 rounded-pill">
                                        @ticket.Priority
                                    </span>
                                </td>                                
                                <td class="@(ticket.Status == TicketStatus.Aberto ? "text-warning" : "text-success")">@ticket.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (ShowTicket && currentTicket is not null)
                {
                    <TicketDisplay TicketId="@currentTicket.TicketId" />
                }
            </div>
        </div>
    </div>
}
@code {
    [Parameter]
    public Guid? AppId { get; set; }
    private PublishedApp? selectedApp;
    private List<Ticket> appTickets = new List<Ticket>();

    protected override async Task OnParametersSetAsync()
    {
        selectedApp = AppId.HasValue
        ? await Db.PublishedApps.FirstOrDefaultAsync(a => a.Id == AppId.Value)
        : null;

        if (selectedApp != null)
        {
            appTickets = await Db.Tickets
                .Where(t => t.AppId == selectedApp.Id)
                .OrderBy(x => (int)x.Priority)
                .ToListAsync();
        }
    }
    bool ShowTicket;
    private Ticket? currentTicket;
    private void SelectTicket(Guid ticketId)
    {
        currentTicket = appTickets.FirstOrDefault(t => t.TicketId == ticketId);
        ShowTicket = false;

        StateHasChanged();

        ShowTicket = true;
    }
}
